# Игнорируем виртуальное окружение
.venv/
venv/
env/

# Игнорируем системные папки
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем IDE файлы (PyCharm, VSCode и т.п.)
.idea/
.vscode/

# Игнорируем реальный .env (ключи)
.env

# Логи и временные файлы
*.log
*.tmp
*.swp

# Игнорируем сгенерированные артефакты
*.sqlite3
*.db
*.mp4
*.wav
